<a href="https://colab.research.google.com/github/ananthu-raj/A-novel-approach-to-Entity-Resolution/blob/main/entity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# For regular expressions
import re
# For handling string
import string
# For performing mathematical operations
import math
import warnings
%matplotlib inline

# Text datasets
from bs4 import BeautifulSoup
import nltk
import sklearn
import re
import string
# For downloading and importing data
import os
import urllib
import itertools
import tarfile
from tqdm import tqdm

# unit test case
import unittest as Test

In [2]:
am = pd.read_csv('https://raw.githubusercontent.com/ananthu-raj/A-novel-approach-to-Entity-Resolution/main/am.csv')
go = pd.read_csv('https://raw.githubusercontent.com/ananthu-raj/A-novel-approach-to-Entity-Resolution/main/go.csv')
match = pd.read_csv('https://raw.githubusercontent.com/ananthu-raj/A-novel-approach-to-Entity-Resolution/main/Amzon_GoogleProducts_perfectMapping.csv')

In [3]:
am

,a_id,a_title,a_description,a_price
0,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.00
1,b000g80lqo,peachtree by sage premium accounting for nonpr...,peachtree premium accounting for nonprofits 20...,599.99
2,b0006se5bq,singing coach unlimited,singing coach unlimited - electronic learning ...,99.99
3,b000ehpzv8,emc retrospect 7.5 disk to disk windows,emc retrospect 7.5 disk to diskcromwindows,0.00
4,b00021xhzw,adobe after effects professional 6.5 upgrade f...,upgrade only; installation of after effects st...,499.99
...,...,...,...,...
1243,b000in8mj0,photostory on cd & dvd 5,magix photostory on cd and dvd 5 answers the q...,19.99
1244,b000cs3s2c,flash remoting 1 alp ret eng cd 2u,- marketing information: macromedia flash remo...,3314.09
1245,b000h1df7w,dragon naturally speaking standard v9,dragon naturallyspeaking 9 (standard edition) ...,99.99
1246,b000p9cr66,mediarecover,mediarecover gives you the ability to recover ...,29.99
1247,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99

In [4]:
am.isna().sum()

a_id             0
a_title          0
a_description    0
a_price          0
dtype: int64

In [5]:
go

,g_id,g_ititle,g_description,g_price
0,http://www.google.com/base/feeds/snippets/1112...,learning quickbooks 2007,learning quickbooks 2007,38.99
1,http://www.google.com/base/feeds/snippets/1153...,superstart! fun with reading & writing!,fun with reading & writing! is designed to hel...,8.49
2,http://www.google.com/base/feeds/snippets/1134...,qb pos 6.0 basic software,qb pos 6.0 basic retail mngmt software. for re...,637.99
3,http://www.google.com/base/feeds/snippets/1204...,math missions: the amazing arcade adventure (g...,save spectacle city by disrupting randall unde...,12.95
4,http://www.google.com/base/feeds/snippets/1224...,production prem cs3 mac upgrad,adobe cs3 production premium mac upgrade from ...,805.99
...,...,...,...,...
3030,http://www.google.com/base/feeds/snippets/1487...,jumpstart(r) advanced 1st grade,prepare your child for the 1st grade and beyon...,19.99
3031,http://www.google.com/base/feeds/snippets/1491...,ibm(r) viavoice(r) advanced edition 10,ibm viavoice advanced edition release 10 is a ...,78.95
3032,http://www.google.com/base/feeds/snippets/1497...,xbox 360: gears of war,as marcus fenix you fight a war against the im...,59.99
3033,http://www.google.com/base/feeds/snippets/1498...,documents to go premium 7.0,this pda software enables you to use your docu...,49.99
3034,http://www.google.com/base/feeds/snippets/1499...,microsoft(r) picture it! digital image pro 9.0,picture it! digital image pro puts you in cont...,99.87

In [6]:
go.isna().sum()

g_id             0
g_ititle         0
g_description    0
g_price          0
dtype: int64

In [7]:
match

        idAmazon                                       idGoogleBase
0     b000jz4hqo  http://www.google.com/base/feeds/snippets/1844...
1     b00004tkvy  http://www.google.com/base/feeds/snippets/1844...
2     b000g80lqo  http://www.google.com/base/feeds/snippets/1844...
3     b0006se5bq  http://www.google.com/base/feeds/snippets/1842...
4     b00021xhzw  http://www.google.com/base/feeds/snippets/1843...
...          ...                                                ...
1295  b00005bigp  http://www.google.com/base/feeds/snippets/1773...
1296  b000h1df7w  http://www.google.com/base/feeds/snippets/1773...
1297  b000p9cr66  http://www.google.com/base/feeds/snippets/1772...
1298  b000p9cr66  http://www.google.com/base/feeds/snippets/1321...
1299  b000j588g4  http://www.google.com/base/feeds/snippets/1773...

[1300 rows x 2 columns]

In [8]:
#am
newam = pd.DataFrame(np.repeat(am.values, len(go), axis=0))
newam.columns = am.columns
newam

,a_id,a_title,a_description,a_price
0,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0
1,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0
2,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0
3,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0
4,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0
...,...,...,...,...
3787675,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99
3787676,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99
3787677,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99
3787678,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99
3787679,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99

In [9]:
#go
newgo = pd.concat([go[:len(go)]]*len(am), ignore_index=True)
newgo

,g_id,g_ititle,g_description,g_price
0,http://www.google.com/base/feeds/snippets/1112...,learning quickbooks 2007,learning quickbooks 2007,38.99
1,http://www.google.com/base/feeds/snippets/1153...,superstart! fun with reading & writing!,fun with reading & writing! is designed to hel...,8.49
2,http://www.google.com/base/feeds/snippets/1134...,qb pos 6.0 basic software,qb pos 6.0 basic retail mngmt software. for re...,637.99
3,http://www.google.com/base/feeds/snippets/1204...,math missions: the amazing arcade adventure (g...,save spectacle city by disrupting randall unde...,12.95
4,http://www.google.com/base/feeds/snippets/1224...,production prem cs3 mac upgrad,adobe cs3 production premium mac upgrade from ...,805.99
...,...,...,...,...
3787675,http://www.google.com/base/feeds/snippets/1487...,jumpstart(r) advanced 1st grade,prepare your child for the 1st grade and beyon...,19.99
3787676,http://www.google.com/base/feeds/snippets/1491...,ibm(r) viavoice(r) advanced edition 10,ibm viavoice advanced edition release 10 is a ...,78.95
3787677,http://www.google.com/base/feeds/snippets/1497...,xbox 360: gears of war,as marcus fenix you fight a war against the im...,59.99
3787678,http://www.google.com/base/feeds/snippets/1498...,documents to go premium 7.0,this pda software enables you to use your docu...,49.99
3787679,http://www.google.com/base/feeds/snippets/1499...,microsoft(r) picture it! digital image pro 9.0,picture it! digital image pro puts you in cont...,99.87

In [10]:
# adding newam and newgo along columns
res = [newam, newgo]
df = pd.concat(res, axis=1)
df

,a_id,a_title,a_description,a_price,g_id,g_ititle,g_description,g_price
0,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1112...,learning quickbooks 2007,learning quickbooks 2007,38.99
1,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1153...,superstart! fun with reading & writing!,fun with reading & writing! is designed to hel...,8.49
2,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1134...,qb pos 6.0 basic software,qb pos 6.0 basic retail mngmt software. for re...,637.99
3,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1204...,math missions: the amazing arcade adventure (g...,save spectacle city by disrupting randall unde...,12.95
4,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1224...,production prem cs3 mac upgrad,adobe cs3 production premium mac upgrade from ...,805.99
...,...,...,...,...,...,...,...,...
3787675,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1487...,jumpstart(r) advanced 1st grade,prepare your child for the 1st grade and beyon...,19.99
3787676,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1491...,ibm(r) viavoice(r) advanced edition 10,ibm viavoice advanced edition release 10 is a ...,78.95
3787677,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1497...,xbox 360: gears of war,as marcus fenix you fight a war against the im...,59.99
3787678,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1498...,documents to go premium 7.0,this pda software enables you to use your docu...,49.99
3787679,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1499...,microsoft(r) picture it! digital image pro 9.0,picture it! digital image pro puts you in cont...,99.87

In [11]:
# Life SAVER code
df = df.convert_dtypes()

In [12]:
print(df.dtypes)

a_id              string
a_title           string
a_description     string
a_price          Float64
g_id              string
g_ititle          string
g_description     string
g_price           string
dtype: object

In [13]:
match

        idAmazon                                       idGoogleBase
0     b000jz4hqo  http://www.google.com/base/feeds/snippets/1844...
1     b00004tkvy  http://www.google.com/base/feeds/snippets/1844...
2     b000g80lqo  http://www.google.com/base/feeds/snippets/1844...
3     b0006se5bq  http://www.google.com/base/feeds/snippets/1842...
4     b00021xhzw  http://www.google.com/base/feeds/snippets/1843...
...          ...                                                ...
1295  b00005bigp  http://www.google.com/base/feeds/snippets/1773...
1296  b000h1df7w  http://www.google.com/base/feeds/snippets/1773...
1297  b000p9cr66  http://www.google.com/base/feeds/snippets/1772...
1298  b000p9cr66  http://www.google.com/base/feeds/snippets/1321...
1299  b000j588g4  http://www.google.com/base/feeds/snippets/1773...

[1300 rows x 2 columns]

In [14]:
def check(df):
    list = df.values.tolist()
    return list

In [ ]:
l = check(match)
l

In [ ]:
df

In [17]:
df.isna().sum()

a_id             0
a_title          0
a_description    0
a_price          0
g_id             0
g_ititle         0
g_description    0
g_price          0
dtype: int64

In [18]:
match

        idAmazon                                       idGoogleBase
0     b000jz4hqo  http://www.google.com/base/feeds/snippets/1844...
1     b00004tkvy  http://www.google.com/base/feeds/snippets/1844...
2     b000g80lqo  http://www.google.com/base/feeds/snippets/1844...
3     b0006se5bq  http://www.google.com/base/feeds/snippets/1842...
4     b00021xhzw  http://www.google.com/base/feeds/snippets/1843...
...          ...                                                ...
1295  b00005bigp  http://www.google.com/base/feeds/snippets/1773...
1296  b000h1df7w  http://www.google.com/base/feeds/snippets/1773...
1297  b000p9cr66  http://www.google.com/base/feeds/snippets/1772...
1298  b000p9cr66  http://www.google.com/base/feeds/snippets/1321...
1299  b000j588g4  http://www.google.com/base/feeds/snippets/1773...

[1300 rows x 2 columns]

In [ ]:
a_id = match['idAmazon'].tolist()
a_id

In [20]:
match.columns

Index(['idAmazon', 'idGoogleBase'], dtype='object')

In [21]:
df.columns

Index(['a_id', 'a_title', 'a_description', 'a_price', 'g_id', 'g_ititle',
       'g_description', 'g_price'],
      dtype='object')

In [22]:
a_list = df['a_id'].tolist()
g_list = df['g_id'].tolist()

In [23]:
len(a_list)

3787680

In [24]:
len(g_list)

3787680

In [25]:
# Function to merge two lists pair wise
def merge(list1, list2):
      
    merged_list = [[list1[i], list2[i]] for i in range(0, len(list1))]
    return merged_list

In [ ]:
x = merge(a_list,g_list)
x

In [ ]:
ad = match['idAmazon'].tolist()
ad

In [ ]:
gd = match['idGoogleBase'].tolist()
gd

In [ ]:
y = merge(ad,gd)
y

In [ ]:
x

In [ ]:
y

In [33]:
def find(lst1,lst2):
    result = []
    for i in tqdm(range(len(lst1))):
        for j in range(len(lst2)):
            if lst1[i]==lst2[j]:
                result.append(i)
            
    return result

In [34]:
l = find(x,y)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3787680/3787680 [08:56<00:00, 7060.44it/s]

In [ ]:
list_of_zeros = [0] * len(df)
for i in tqdm(range(len(l))):
    list_of_zeros.pop(l[i])
list_of_zeros
for i in tqdm(range(len(l))):
    list_of_zeros.insert(l[i],1)
list_of_zeros

In [36]:
len(list_of_zeros)

3787680

In [ ]:
df

In [44]:
df['match'] = list_of_zeros

In [45]:
df

,a_id,a_title,a_description,a_price,g_id,g_ititle,g_description,g_price,match
0,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1112...,learning quickbooks 2007,learning quickbooks 2007,38.99,0
1,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1153...,superstart! fun with reading & writing!,fun with reading & writing! is designed to hel...,8.49,0
2,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1134...,qb pos 6.0 basic software,qb pos 6.0 basic retail mngmt software. for re...,637.99,0
3,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1204...,math missions: the amazing arcade adventure (g...,save spectacle city by disrupting randall unde...,12.95,0
4,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1224...,production prem cs3 mac upgrad,adobe cs3 production premium mac upgrade from ...,805.99,0
...,...,...,...,...,...,...,...,...,...
3787675,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1487...,jumpstart(r) advanced 1st grade,prepare your child for the 1st grade and beyon...,19.99,0
3787676,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1491...,ibm(r) viavoice(r) advanced edition 10,ibm viavoice advanced edition release 10 is a ...,78.95,0
3787677,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1497...,xbox 360: gears of war,as marcus fenix you fight a war against the im...,59.99,0
3787678,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1498...,documents to go premium 7.0,this pda software enables you to use your docu...,49.99,0
3787679,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1499...,microsoft(r) picture it! digital image pro 9.0,picture it! digital image pro puts you in cont...,99.87,0

In [42]:
df.match.value_counts()

0    3786519
1       1161
Name: match, dtype: int64

In [43]:
df.to_csv('final.csv')