<a href="https://colab.research.google.com/github/ananthu-raj/A-novel-approach-to-Entity-Resolution/blob/main/entity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Entity Resolution**

In [ ]:
import os
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# For regular expressions
import re
# For handling string
import string
# For performing mathematical operations
import math
import warnings
%matplotlib inline

# Text datasets
from bs4 import BeautifulSoup
import nltk
import sklearn
import re
import string
# For downloading and importing data
import os
import urllib
import itertools
import tarfile
from tqdm import tqdm

# unit test case
import unittest as Test

import torch
import torchvision
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from tensorflow.keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from tensorflow.keras.utils import to_categorical
from keras.callbacks import EarlyStopping
%matplotlib inline

!pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [ ]:
import tensorflow as tf
import numpy as np                                
import matplotlib.pyplot as plt
import keras as k


from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D, BatchNormalization
from tensorflow.keras.optimizers import SGD
from keras.models import load_model
from keras import backend as K

In [ ]:
am = pd.read_csv('https://raw.githubusercontent.com/ananthu-raj/A-novel-approach-to-Entity-Resolution/main/am.csv')
go = pd.read_csv('https://raw.githubusercontent.com/ananthu-raj/A-novel-approach-to-Entity-Resolution/main/go.csv')
match = pd.read_csv('https://raw.githubusercontent.com/ananthu-raj/A-novel-approach-to-Entity-Resolution/main/Amzon_GoogleProducts_perfectMapping.csv')

In [ ]:
am

,a_id,a_title,a_description,a_price
0,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.00
1,b000g80lqo,peachtree by sage premium accounting for nonpr...,peachtree premium accounting for nonprofits 20...,599.99
2,b0006se5bq,singing coach unlimited,singing coach unlimited - electronic learning ...,99.99
3,b000ehpzv8,emc retrospect 7.5 disk to disk windows,emc retrospect 7.5 disk to diskcromwindows,0.00
4,b00021xhzw,adobe after effects professional 6.5 upgrade f...,upgrade only; installation of after effects st...,499.99
...,...,...,...,...
1243,b000in8mj0,photostory on cd & dvd 5,magix photostory on cd and dvd 5 answers the q...,19.99
1244,b000cs3s2c,flash remoting 1 alp ret eng cd 2u,- marketing information: macromedia flash remo...,3314.09
1245,b000h1df7w,dragon naturally speaking standard v9,dragon naturallyspeaking 9 (standard edition) ...,99.99
1246,b000p9cr66,mediarecover,mediarecover gives you the ability to recover ...,29.99
1247,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99

In [ ]:
go

,g_id,g_ititle,g_description,g_price
0,http://www.google.com/base/feeds/snippets/1112...,learning quickbooks 2007,learning quickbooks 2007,38.99
1,http://www.google.com/base/feeds/snippets/1153...,superstart! fun with reading & writing!,fun with reading & writing! is designed to hel...,8.49
2,http://www.google.com/base/feeds/snippets/1134...,qb pos 6.0 basic software,qb pos 6.0 basic retail mngmt software. for re...,637.99
3,http://www.google.com/base/feeds/snippets/1204...,math missions: the amazing arcade adventure (g...,save spectacle city by disrupting randall unde...,12.95
4,http://www.google.com/base/feeds/snippets/1224...,production prem cs3 mac upgrad,adobe cs3 production premium mac upgrade from ...,805.99
...,...,...,...,...
3030,http://www.google.com/base/feeds/snippets/1487...,jumpstart(r) advanced 1st grade,prepare your child for the 1st grade and beyon...,19.99
3031,http://www.google.com/base/feeds/snippets/1491...,ibm(r) viavoice(r) advanced edition 10,ibm viavoice advanced edition release 10 is a ...,78.95
3032,http://www.google.com/base/feeds/snippets/1497...,xbox 360: gears of war,as marcus fenix you fight a war against the im...,59.99
3033,http://www.google.com/base/feeds/snippets/1498...,documents to go premium 7.0,this pda software enables you to use your docu...,49.99
3034,http://www.google.com/base/feeds/snippets/1499...,microsoft(r) picture it! digital image pro 9.0,picture it! digital image pro puts you in cont...,99.87

In [ ]:
match

        idAmazon                                       idGoogleBase
0     b000jz4hqo  http://www.google.com/base/feeds/snippets/1844...
1     b00004tkvy  http://www.google.com/base/feeds/snippets/1844...
2     b000g80lqo  http://www.google.com/base/feeds/snippets/1844...
3     b0006se5bq  http://www.google.com/base/feeds/snippets/1842...
4     b00021xhzw  http://www.google.com/base/feeds/snippets/1843...
...          ...                                                ...
1295  b00005bigp  http://www.google.com/base/feeds/snippets/1773...
1296  b000h1df7w  http://www.google.com/base/feeds/snippets/1773...
1297  b000p9cr66  http://www.google.com/base/feeds/snippets/1772...
1298  b000p9cr66  http://www.google.com/base/feeds/snippets/1321...
1299  b000j588g4  http://www.google.com/base/feeds/snippets/1773...

[1300 rows x 2 columns]

## **Data Cleaning**

In [ ]:
#am
newam = pd.DataFrame(np.repeat(am.values, len(go), axis=0))
newam.columns = am.columns
#go
newgo = pd.concat([go[:len(go)]]*len(am), ignore_index=True)
# adding newam and newgo along columns
res = [newam, newgo]
df = pd.concat(res, axis=1)

In [ ]:
# Converting to proper datatypes by default 
df = df.convert_dtypes()
print(df.dtypes)

a_id              string
a_title           string
a_description     string
a_price          Float64
g_id              string
g_ititle          string
g_description     string
g_price           string
dtype: object

In [ ]:
a_list = df['a_id'].tolist()
g_list = df['g_id'].tolist()
# Function to merge two lists pair wise
def merge(list1, list2):
    merged_list = [[list1[i], list2[i]] for i in range(0, len(list1))]
    return merged_list
x = merge(a_list,g_list)
ad = match['idAmazon'].tolist()
gd = match['idGoogleBase'].tolist()
y = merge(ad,gd)
def find(lst1,lst2):
    result = []
    for i in tqdm(range(len(lst1))):
        for j in range(len(lst2)):
            if lst1[i]==lst2[j]:
                result.append(i)
            
    return result

In [ ]:
def find_1(lst1,lst2):
    result = [i for i in tqdm(range(len(lst1))) for j in range(len(lst2)) if lst1[i]==lst2[j]]
    return result

In [ ]:
l = find_1(x,y)

100%|██████████| 3787680/3787680 [06:02<00:00, 10437.19it/s]

In [ ]:
#l = find(x,y)

100%|██████████| 3787680/3787680 [08:58<00:00, 7037.61it/s]

In [ ]:
list_of_zeros = [0] * len(df)
for i in tqdm(range(len(l))):
    list_of_zeros.pop(l[i])
list_of_zeros
for i in tqdm(range(len(l))):
    list_of_zeros.insert(l[i],1)
df['match'] = list_of_zeros

100%|██████████| 1161/1161 [00:00<00:00, 2553.86it/s]
100%|██████████| 1161/1161 [00:00<00:00, 1719.11it/s]

In [ ]:
df

,a_id,a_title,a_description,a_price,g_id,g_ititle,g_description,g_price,match
0,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1112...,learning quickbooks 2007,learning quickbooks 2007,38.99,0
1,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1153...,superstart! fun with reading & writing!,fun with reading & writing! is designed to hel...,8.49,0
2,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1134...,qb pos 6.0 basic software,qb pos 6.0 basic retail mngmt software. for re...,637.99,0
3,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1204...,math missions: the amazing arcade adventure (g...,save spectacle city by disrupting randall unde...,12.95,0
4,b0006zf55o,ca international - arcserve lap/desktop oem 30pk,oem arcserve backup v11.1 win 30u for laptops ...,0.0,http://www.google.com/base/feeds/snippets/1224...,production prem cs3 mac upgrad,adobe cs3 production premium mac upgrade from ...,805.99,0
...,...,...,...,...,...,...,...,...,...
3787675,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1487...,jumpstart(r) advanced 1st grade,prepare your child for the 1st grade and beyon...,19.99,0
3787676,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1491...,ibm(r) viavoice(r) advanced edition 10,ibm viavoice advanced edition release 10 is a ...,78.95,0
3787677,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1497...,xbox 360: gears of war,as marcus fenix you fight a war against the im...,59.99,0
3787678,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1498...,documents to go premium 7.0,this pda software enables you to use your docu...,49.99,0
3787679,b000j588g4,photo explosion 3.0,photo explosion 3.0,29.99,http://www.google.com/base/feeds/snippets/1499...,microsoft(r) picture it! digital image pro 9.0,picture it! digital image pro puts you in cont...,99.87,0

In [ ]:
df.match.value_counts()

0    3786519
1       1161
Name: match, dtype: int64

In [ ]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3787680 entries, 0 to 3787679
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   a_id           string
 1   a_title        string
 2   a_description  string
 3   a_price        Float64
 4   g_id           string
 5   g_ititle       string
 6   g_description  string
 7   g_price        string
 8   match          int64
dtypes: Float64(1), int64(1), string(7)
memory usage: 7.7 GB

## **Text Preprocessing**

In [ ]:
df = df.drop(columns=["a_id","g_id",'a_price', 'g_price'])

In [ ]:
# Removing punctuations
data=df.iloc[:,0:4]
data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

In [ ]:
data

,a_title,a_description,g_ititle,g_description
0,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,learning quickbooks,learning quickbooks
1,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,superstart fun with reading writing,fun with reading writing is designed to hel...
2,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,qb pos basic software,qb pos basic retail mngmt software for re...
3,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,math missions the amazing arcade adventure g...,save spectacle city by disrupting randall unde...
4,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,production prem cs mac upgrad,adobe cs production premium mac upgrade from ...
...,...,...,...,...
3787675,photo explosion,photo explosion,jumpstart r advanced st grade,prepare your child for the st grade and beyon...
3787676,photo explosion,photo explosion,ibm r viavoice r advanced edition,ibm viavoice advanced edition release is a ...
3787677,photo explosion,photo explosion,xbox gears of war,as marcus fenix you fight a war against the im...
3787678,photo explosion,photo explosion,documents to go premium,this pda software enables you to use your docu...
3787679,photo explosion,photo explosion,microsoft r picture it digital image pro,picture it digital image pro puts you in cont...

In [ ]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3787680 entries, 0 to 3787679
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   a_title        string
 1   a_description  string
 2   g_ititle       string
 3   g_description  string
dtypes: string(4)
memory usage: 6.8 GB

## **Handling Imbalanced Class Labels**

In [ ]:
X = data
Y = df['match']
le = LabelEncoder()
y = le.fit_transform(Y)
y = y.reshape(-1,1)

In [ ]:
X

,a_title,a_description,g_ititle,g_description
0,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,learning quickbooks,learning quickbooks
1,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,superstart fun with reading writing,fun with reading writing is designed to hel...
2,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,qb pos basic software,qb pos basic retail mngmt software for re...
3,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,math missions the amazing arcade adventure g...,save spectacle city by disrupting randall unde...
4,ca international arcserve lap desktop oem pk,oem arcserve backup v win u for laptops ...,production prem cs mac upgrad,adobe cs production premium mac upgrade from ...
...,...,...,...,...
3787675,photo explosion,photo explosion,jumpstart r advanced st grade,prepare your child for the st grade and beyon...
3787676,photo explosion,photo explosion,ibm r viavoice r advanced edition,ibm viavoice advanced edition release is a ...
3787677,photo explosion,photo explosion,xbox gears of war,as marcus fenix you fight a war against the im...
3787678,photo explosion,photo explosion,documents to go premium,this pda software enables you to use your docu...
3787679,photo explosion,photo explosion,microsoft r picture it digital image pro,picture it digital image pro puts you in cont...

## Splitting into training and test set

In [ ]:
from sklearn.model_selection import train_test_split

# split into 70:30 ration
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# describes info about train and test set
print("Number transactions X_train dataset: ", X_train.shape)
print("Number transactions y_train dataset: ", y_train.shape)
print("Number transactions X_test dataset: ", X_test.shape)
print("Number transactions y_test dataset: ", y_test.shape)

Number transactions X_train dataset:  (3030144, 4)
Number transactions y_train dataset:  (3030144, 1)
Number transactions X_test dataset:  (757536, 4)
Number transactions y_test dataset:  (757536, 1)

In [ ]:
y_test

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [ ]:
!pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [ ]:
# sampling strategy set to 0.3
under_sampler  = RandomUnderSampler(sampling_strategy=.3) 
X_under, y_under = under_sampler.fit_resample(X, y)
y_und = pd.Series(y_under)

print('Before Undersampling, the shape of X: {}'.format(X.shape))
print('Before Undersampling, the shape of y: {} \n'.format(y.shape))

print("Before Undersampling, counts of label '1': {}".format(sum(y == 1)))
print("Before Undersampling, counts of label '0': {} \n".format(sum(y == 0)))

print("After Undersampling, counts of label '1': {}".format(sum(y_under == 1)))
print("After Undersampling, counts of label '0': {}".format(sum(y_under == 0)))

Before Undersampling, the shape of X: (3787680, 4)
Before Undersampling, the shape of y: (3787680, 1)

Before Undersampling, counts of label '1': [1161]
Before Undersampling, counts of label '0': [3786519]

After Undersampling, counts of label '1': 1161
After Undersampling, counts of label '0': 3870

In [ ]:
X_under.to_csv('X_under.csv',index=False)
y_und.to_csv('y_under.csv',index=False)

## **Trying LSTM**

**Process the data**

Tokenize the data and convert the text to sequences.
Add padding to ensure that all the sequences have the same shape.
There are many ways of taking the max_len and here an arbitrary length of 150 is chosen.

In [ ]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train_miss)
sequences = tok.texts_to_sequences(X_train_miss)
sequences_matrix = sequence.pad_sequences(sequences,maxlen=max_len)

**RNN**

Define the RNN structure.

In [ ]:
def RNN():
    inputs = Input(name='inputs',shape=[max_len])
    layer = Embedding(max_words,50,input_length=max_len)(inputs)
    layer = LSTM(64)(layer)
    layer = Dense(256,name='FC1')(layer)
    layer = Activation('relu')(layer)
    layer = Dropout(0.5)(layer)
    layer = Dense(1,name='out_layer')(layer)
    layer = Activation('sigmoid')(layer)
    model = Model(inputs=inputs,outputs=layer)
    return model

In [ ]:
model = RNN()
model.summary()
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 inputs (InputLayer)         [(None, 150)]             0

 embedding_1 (Embedding)     (None, 150, 50)           50000

 lstm_1 (LSTM)               (None, 64)                29440

 FC1 (Dense)                 (None, 256)               16640

 activation_2 (Activation)   (None, 256)               0

 dropout_1 (Dropout)         (None, 256)               0

 out_layer (Dense)           (None, 1)                 257

 activation_3 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

## Fit on training Data

In [ ]:
model.fit(sequences_matrix,y_train_miss,batch_size=128,epochs=10,
          validation_split=0.2,callbacks=[EarlyStopping(monitor='val_loss',min_delta=0.0001)])

Epoch 1/10
1/1 [==============================] - 0s 140ms/step - loss: 0.0441 - accuracy: 1.0000 - val_loss: 0.0263 - val_accuracy: 1.0000
Epoch 2/10
1/1 [==============================] - 0s 101ms/step - loss: 0.0230 - accuracy: 1.0000 - val_loss: 0.0165 - val_accuracy: 1.0000

In [ ]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = sequence.pad_sequences(test_sequences,maxlen=max_len)

In [ ]:
test_sequences

[[1, 4], [1, 2], [3, 5], [3, 2]]

## Applying on Test Data

In [ ]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))